{% extends 'base/base_office.html' %}
{% load bootstrap3 static %}
{% block title %}Заметки - создание/редактирование{% endblock %}
{% block main %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    {% bootstrap_form form  error_types='all' %}
                    {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
                </form>

            </div>
        </div>
    </div>


{% endblock %}